<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-socials">
      <a href="https://instagram.com/seth_songs/" target="_blank" aria-label="Instagram">
        <img src="/global_assets/social_button_insta_color.png" alt="Instagram">
      </a>

      <a href="https://www.tiktok.com/@seth.makes.songs" target="_blank" aria-label="TikTok">
        <img src="/global_assets/social_button_tiktok_color.png" alt="TikTok">
      </a>

      <a href="https://web.facebook.com/people/Seth-Ring/61579267445351/#" target="_blank" aria-label="Facebook">
        <img src="/global_assets/social_button_facebook_color.png" alt="Facebook">
      </a>

      <a href="https://www.youtube.com/@SethMakesSongs" target="_blank" aria-label="Youtube">
        <img src="/global_assets/social_button_youtube_color.png" alt="Youtube">
      </a>
    </div>
  </div>
</footer>