<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-socials">
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <img src="/global_assets/social_button_insta_color.png" alt="Instagram">
      </a>

      <a href="https://tiktok.com" target="_blank" aria-label="TikTok">
        <img src="/global_assets/social_button_tiktok_color.png" alt="TikTok">
      </a>

      <a href="https://youtube.com" target="_blank" aria-label="Facebook">
        <img src="/global_assets/social_button_facebook_color.png" alt="Facebook">
      </a>

      <a href="https://spotify.com" target="_blank" aria-label="Youtube">
        <img src="/global_assets/social_button_youtube_color.png" alt="Youtube">
      </a>
    </div>
  </div>
</footer>